In [4]:
with open('One.txt') as mytext:
    a=mytext.readlines()

In [5]:
a

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [6]:
print(a)

['This is a story about dogs\n', 'our canine pets\n', 'Dogs are furry animals\n']

In [7]:
with open('One.txt') as mytext:
    a=mytext.read()

In [8]:
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [9]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [10]:
with open('One.txt') as mytext:
    words_one=mytext.read().lower().split()
    uni_words_one=set(words_one)

In [11]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [12]:
with open('Two.txt') as mytext:
    words_two=mytext.read().lower().split()
    uni_words_two=set(words_two)

In [13]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [14]:
all_uni_words=set()
all_uni_words.update(uni_words_one)

In [15]:
all_uni_words.update(uni_words_two)

In [16]:
full_vocab=dict()
i=0

for word in all_uni_words:
    full_vocab[word]=i
    i=i+1

In [17]:
full_vocab

{'animals': 0,
 'are': 1,
 'furry': 2,
 'waves': 3,
 'a': 4,
 'dogs': 5,
 'is': 6,
 'story': 7,
 'catching': 8,
 'our': 9,
 'popular': 10,
 'surfing': 11,
 'water': 12,
 'this': 13,
 'pets': 14,
 'fun': 15,
 'sport': 16,
 'canine': 17,
 'about': 18}

In [19]:
one_freq=[0]*len(full_vocab)
two_freq=[0]*len(full_vocab)
all_words=['']*len(full_vocab)

In [20]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [21]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
with open('One.txt') as f:
    one_text=f.read().lower().split()

In [23]:
for word in one_text:
    word_ind=full_vocab[word]
    one_freq[word_ind]+=1

In [24]:
one_freq

[1, 1, 1, 0, 1, 2, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1]

In [26]:
with open('Two.txt') as f:
    two_text=f.read().lower().split()

In [27]:
for word in two_text:
    word_ind=full_vocab[word]
    two_freq[word_ind]+=1

In [28]:
two_freq

[0, 0, 0, 1, 1, 0, 3, 1, 1, 0, 1, 2, 1, 1, 0, 1, 1, 0, 1]

In [29]:
for word in full_vocab:
    word_ind=full_vocab[word]
    all_words[word_ind]=word

In [30]:
all_words

['animals',
 'are',
 'furry',
 'waves',
 'a',
 'dogs',
 'is',
 'story',
 'catching',
 'our',
 'popular',
 'surfing',
 'water',
 'this',
 'pets',
 'fun',
 'sport',
 'canine',
 'about']

In [32]:
import pandas as pd
bow=pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [33]:
bow

   animals  are  furry  waves  a  dogs  is  story  ...  surfing  water  this  pets  fun  sport  canine  about
0        1    1      1      0  1     2   1      1  ...        0      0     1     1    0      0       1      1
1        0    0      0      1  1     0   3      1  ...        2      1     1     0    1      1       0      1

[2 rows x 19 columns]